/* common shared style */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}
/* header style */
.header{
    background: rgb(255, 248, 243);
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}
/* nav related style */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}